<div id="index-block-5" class="block row" data-nested="not-nested" data-containerid="" data-containercssclass=""><div class="col col-md-12"><module id="1396045643" name="html" desc="Carousel" type="html">&lt;!--Carousel--&gt;
       
 &lt;div id="myCarousel" class="carousel slide" data-ride="carousel" style = "height: 350px;"&gt;

	&lt;ol class="carousel-indicators"&gt;
	&lt;li data-target="#myCarousel" data-slide-to="0" class="active"&gt;&lt;/li&gt;
	&lt;li data-target="#myCarousel" data-slide-to="1"&gt;&lt;/li&gt;
	&lt;li data-target="#myCarousel" data-slide-to="2"&gt;&lt;/li&gt;
	&lt;/ol&gt;

	&lt;div class="carousel-inner" style = "height: 350px;"&gt;
	&lt;div class="item active" style="background-image:url('files/HTT.jpg'); background-size: cover;"&gt;
	&lt;div class="container"&gt;
		&lt;div class="carousel-caption" style="background-color: rgba(50,50,50,0.8); padding-left: .5%; padding-right:.5%; top: 5%; width: 75%; left:12.5%;"&gt;
			&lt;h3&gt;POLARBEAR: The first measurement of non-zero B-mode angular power spectrum&lt;/h3&gt;
			&lt;p&gt;The POLARBEAR team recently measured the B-Mode polarization power spectrum at sub-degree scales.  &lt;/p&gt;
			&lt;p style="margin-top:5%;"&gt;&lt;a class="btn btn-md btn-primary" href="newsfeed/31114" role="button"&gt;Read more&lt;/a&gt;&lt;/p&gt;
		&lt;/div&gt;
	&lt;/div&gt;
	&lt;/div&gt;
	&lt;div class="item" style="background-image:url('files/9.jpg'); background-size: cover;"&gt;
		&lt;div class="container"&gt;
		&lt;div class="carousel-caption" style="background-color: rgba(50,50,50,0.8); padding-left: .5%; padding-right:.5%; top: 5%; width: 75%; left:12.5%;"&gt;
		&lt;h3&gt;GRAVITATIONAL LENSING of CMB POLARIZATION MEASURED &lt;/h3&gt;
		&lt;p&gt; POLARBEAR measured gravitational lensing of the CMB using CMB polarization alone, and also showed ... &lt;/p&gt;
		&lt;p&gt;&lt;a  class="btn btn-md btn-primary" href="newsfeed/12314" role="button"&gt;Read more&lt;/a&gt;&lt;/p&gt;
		&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
	&lt;div class="item" style="background-image:url('files/6.jpg'); background-size: cover;"&gt;
		&lt;div class="container"&gt;
		&lt;div class="carousel-caption" style="background-color: rgba(50,50,50,0.8); padding-left: .5%; padding-right:.5%; top: 5%; width: 75%; left:12.5%;"&gt;
		&lt;h3&gt;YEAR AND A HALF AFTER FIRST LIGHT&lt;/h3&gt;
		&lt;p&gt; A small update on what has happened since first light.&lt;/p&gt;
		&lt;p&gt;&lt;a class="btn btn-md btn-primary" href="newsfeed/10313" role="button"&gt;Learn More&lt;/a&gt;&lt;/p&gt;
		&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
	&lt;/div&gt;
	&lt;a class="left carousel-control" href="#myCarousel" data-slide="prev"&gt;&lt;span class="glyphicon glyphicon-chevron-left"&gt;&lt;/span&gt;&lt;/a&gt;
	&lt;a class="right carousel-control" href="#myCarousel" data-slide="next"&gt;&lt;span class="glyphicon glyphicon-chevron-right"&gt;&lt;/span&gt;&lt;/a&gt;

&lt;/div&gt;</module></div></div><div id="index-block-5" class="container"><div id="index-block-1" class="block row panel-body" data-nested="nested" data-containerid="index-block-5" data-containercssclass=""><div class="col col-md-9"><h3 id="index-h3-5">COSMIC MICROWAVE BACKGROUND POLARIZATION AND COSMOLOGY</h3><hr id="index-hr-5"></hr><p id="index-paragraph-1">Over the last two decades, studies of the <a href="http://en.wikipedia.org/wiki/Cosmic_microwave_background">Cosmic Microwave Background (CMB)</a> intensity anisotropies have provided precise measurements of the basic parameters that describe our universe.</p><p id="1396026969">The CMB polarization anisotropies offer a unique window onto cosmology and addresses some of the most mystifying questions of physics. POLARBEAR is a Cosmic Microwave Background polarization experiment. Our goal is to detect CMB <a href="http://en.wikipedia.org/wiki/B-modes">B-modes</a> and use them to investigate the origin and evolution of the Universe and to understand physics and cosmology beyond our <a href="http://en.wikipedia.org/wiki/Lambda-CDM_model">Standard Model</a>.</p><p id="1396026969">Inflationary theories are currently the best framework we have to explain several aspects of the Universe today. They predict that the early Universe underwent a phase of exponential expansion during which a background of <a href="http://en.wikipedia.org/wiki/Gravitational_wave">gravitational waves</a> was produced. Those gravitational waves will then produce a primordial B-mode signal at the time of recombination. An <a href="http://en.wikipedia.org/wiki/Inflation_(cosmology)">inflationary phase</a> would have occurred at such high energy density that there is no hope of studying the phenomena in any accelerator that could be built on earth. POLARBEAR, however, will be able to see the direct signature of Inflation through CMB polarization, and will potentially be able to investigate physics that occurs at energies where all the forces of nature are unified.</p><p id="1396026969">The evolution of the universe is based on the idea of gravitational instability, whereby initial tiny fluctuations in the density of the Universe grew under the influence of gravity to form the large-scale gravitational structures we see around us today. These structures bend the trajectories of CMB photons through gravitational lensing, distorting its primordial polarization and converting E-modes into B-modes. Imaging the lensing-generated B-modes, POLARBEAR will be able to shed light on all the components of the Universe influencing structure formation, such as neutrino mass and dark energy.</p></div><div class="col col-md-3"><module id="1396028305" name="html" desc="image" type="html">&lt;img src = "/respond/sites/polarbearv2/files/PB_in_atacma_with_CMB3.jpg" style = "height:500px;"/&gt;</module></div></div></div>