<div id="block-2" class="block row" data-nested="not-nested" data-containerid="" data-containercssclass=""><div class="col col-md-12"><module id="1398069059" name="html" desc="Don't bother trying to use the CMS, just use php" type="html">&lt;style&gt;
.wrapper{
display: inline-block;
text-align:center;
margin-bottom: .5%;
margin-top: .25%;
margin-left:.25%;
margin-right: .25%;
padding: .05%;
/*vertical-align:top;
min-width: 49%;*/
}

.institutionname &gt; h4{
padding: 0px;
display: inline-block;
margin:0px;
text-align: center;
vertical-align: bottom;
}

.institutionname{
position:relative;
display:inline-block;
margin-left: -70px;
padding: 0px;
overflow: hidden;
max-width: 135px;
min-height: 50px;
top: -85px;
right: -45px;
-webkit-transform: rotate(-90deg);
-moz-transform: rotate(-90deg);
-ms-transform: rotate(-90deg);
-o-transform: rotate(-90deg);
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.frame{
display: inline-block;
overflow: hidden;
margin-left: .5%;
margin-right: .5%;
margin-top: .25%;
margin-bottom: .1%;
overflow: hidden;
border-radius: 5px;
position: relative;
z-index:5;
}

.portrait{
background-position: center;
background-size: cover;
background-repeat: no-repeat;
width: 110px; 
height: 140px; 
}


.name{
z-index: 10;
max-width: 110px;
height: 40px;
border-bottom: 1px dotted black;
}

.backgroundtext{
position: absolute;
top: 60px;
left: 0;
bottom: 0;
right: 0;
z-index: -1;
overflow: hidden;
color: black;
-webkit-user-select: none; /* Chrome/Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+ */
user-select: none; 
}

/*hover behaviors*/
.frame:hover .name{
	border-bottom: 1px solid black;
	color: rgba(0,0,204,1);
}

&lt;/style&gt;

&lt;?php

$people = array(array("AstroParticule et Cosmologie",array( array("Giulio","Fabbian"),array("Maude","LeJeune"),array("Davide","Poletti"),array("Julien","Peloton"),array("Radek","Stompor") )),
array("Austin College",array( array("Peter","Hyland"))),
array("UC Berkeley", array( array("Ari","Cukierman"),array("Bill","Holzapfel"),array("Adrian","Lee"),array("Mike","Myers"),array("Christian","Reichardt"),array("Paul","Richards"),array("Bryan","Steinbach"),array("Blake","Sherwin"),array("Oliver","Zhan"),array("Aritoki","Suzuki"))),
array("Cardiff University", array( array("Peter","Ade"))),
array("Chile Team", array( array("Jose","Cortes"),array("Nolberto","Oyarce"))),
array("University of Colorado at Boulder",array(array("Nils","Halverson"),array("Greg","Jaehnig"),array("David","Schenck"))),
array("Dalhousie University",array(array("Scott","Chapman"),array("Colin","Ross"),array("Kaja","Rotermund"))),
array("Imperial College",array( array("Andrew","Jaffe"))),
array("Kalvi Institute",array(array("Nobu", "Katayama"),array("Haruki","Nishino"))),
array("KEK Institute",array(array("Yoshiki","Akiba"),array("Yuji","Chinone"),array("Masaya","Hasegawa"),array("Kaori","Hattori"),array("Masashi","Hazumi"),array("Hideki","Morii"),array("Takayuki","Tomaru"),array("Hiroshi","Yamaguchi"),array("Satoru","Takakura"),array("Yuki","Inoue"),array("Yasuto","Hori"),array("Tomotake","Matsumura"),array("Takahiro","Okamura"))),
array("Lawrence Berkeley National Lab",array( array("Julian","Borrill"),array("Josquin", "Errard"),array("Reijo","Keskitalo"),array("Theodore","Kisner"),array("Eric","Linder"))),
array("McGill University",array(array("Matt","Dobbs"))),
array("NASA Goddard Space Flight Center",array( array("Nathan","Miller"))),
array("Princeton University", array(array("Zigmund","Kermish"))),
array("Rutherford University",array(array("William","Grainger"))), array("Tel Aviv University",array(array("Meir","Shimon"))),
array("UC San Diego",array(array("Kam","Arnold"),array("Matt","Atlas"),array("Darcy","Barron"),array("David","Boettger"),array("Tucker","Elleflot"),array("Chang","Feng"),array("George","Fuller"),array("Brian","Keating"),array("Fred","Matsuda"),array("Stephanie","Moyerman"),array("Hans","Paar"),array("Praween","Siritanasak"),array("Nathan","Stebor"),array("Brandon","Wilson"),array("Christopher","Aleman"),array("Jennifer","Lawrence"),array("Daniel","Gonzales"))));

echo "&lt;div class=\"wrapper\"&gt;";
for( $i = 0; $i &lt; count($people); $i=$i+1) {
/*echo "&lt;div class=\"wrapper\"&gt;*/
echo "
&lt;div class=\"institutionname\"&gt;&lt;h4&gt;" .$people[$i][0]. "&lt;/h4&gt;&lt;/div&gt;";
for($j = 0; $j &lt; count($people[$i][1]) ; $j=$j+1) {
echo "&lt;div class=\"frame\"&gt;&lt;div class=\"backgroundtext\"&gt;No Photo Available&lt;/div&gt;&lt;div class=\"portrait\" style=\"
background-image: url('http://cosmology.ucsd.edu/~thomastu/Polarbeartest/sites/default/files/AboutUs/AboutUs_thumb/".$people[$i][1][$j][0].$people[$i][1][$j][1].".jpg');\" &gt;&lt;/div&gt;&lt;div class=\"name\"&gt;".$people[$i][1][$j][0]." ". $people[$i][1][$j][1]."&lt;/div&gt;&lt;/div&gt;";
}
/*echo "&lt;br&gt;&lt;/div&gt;";*/
}
echo "&lt;br&gt;&lt;/div&gt;";
?&gt;</module></div></div>