<div id="100609-block-2" class="block row" data-nested="not-nested" data-containerid="" data-containercssclass=""><div class="col col-md-3"><p id="100609-paragraph-1"><i class="fa fa-chevron-left"></i> <a href="../newsfeed/index">Go back to newsfeed</a></p></div><div class="col col-md-9"><h3 id="100609-h3-2">FIRST LIGHT IN CHILE</h3><p id="100609-paragraph-2">The POLARBEAR experiment achieved first light in Chile on January 10th, 2012 with observations of Saturn. Below we show signals from two polarization-sensitive detectors in one array pixel. Below, the 1284-bolometer array is being installed. At the bottom, a beam map from Jupiter is shown. The team is currently preparing the system for science observations in April, when weather conditions in Chile become suitable.</p><module id="1396585449" name="html" desc="detector work" type="html">&lt;img src="http://bolo.berkeley.edu/polarbear/sites/default/files/fp_chile_thumbnail.jpg" style = "height: 300px;" /&gt;

&lt;img src="http://bolo.berkeley.edu/polarbear/sites/default/files/images/PB.first_.light_.HTT_.preview.jpg" style = "height: 300px;" /&gt;</module><module id="1396585449" name="html" desc="Chart 1" type="html">&lt;img src="http://bolo.berkeley.edu/polarbear/sites/default/files/firstlight_1pix_sep.png" style = "height: 300px; margin-top: 5%;" /&gt;

&lt;img src="
http://bolo.berkeley.edu/polarbear/sites/default/files/sat_mar09_ob09_all.png" style = "height: 300px; margin-top: 5%;" /&gt;</module></div></div>