@import url("global.css");
a:hover {
  text-decoration: none;
  color: #000000;
}
.panel {
  margin-left: 7.5%;
  margin-right: 7.5%;
}
.panel img {
  margin-left: auto;
  margin-right: auto;
}
.card {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.sectiontitle {
  font-size: 60%;
  text-align: center;
}
.infocard {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.smallheading {
  font-size: 120%;
}
.newscard {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 75%;
  background-color: rgba(250,250,250,0.5);
  border: 1px dotted rgba(200,200,200,0.7);
}
h2.label a {
  color: black;
}
h2.label a:hover,
a.button:hover,
p.button a:hover {
  color: #866887;
}
.informationcard {
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px;
  background-color: rgba(0,0,0,0.4);
  width: 80%;
  height: 125px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  text-align: center;
}
.informationphoto {
  height: 100px;
  left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
div.informationphoto img {
  height: 100px;
}
.informationcontent {
  display: inline-block;
  width: 250px;
}
.figurephoto {
  height: 300px;
  margin-left: auto;
}
