header {
  margin: 10px 10px 20px 10px;
}
footer {
  margin: 40px 10px 10px 10px;
}
footer div {
  text-align: right;
}
header .logo img {
  height: 75px;
  margin-left: 20px;
}
.list-group-item img {
  width: 75px;
}
.list-group-item {
  min-height: 110px;
}
body .list-group-item a.thumbnail {
  margin-right: 10px;
}
.thumbnail {
  max-width: 200px;
  display: inline-block;
  margin: 0 10px 10px 0;
  vertical-align: top;
}
.thumbnail img {
  width: 100%;
}
.page-results {
  margin-bottom: 10px;
}
div.o-image img {
  margin: 5px 0 20px 0;
  border: 3px solid #f0f0f0;
  max-width: 100%;
}
div.l-image,
div.r-image {
  clear: both;
}
div.l-image img {
  float: left;
  margin: 5px 20px 20px 0;
  border: 3px solid #f0f0f0;
  width: 50%;
  max-width: 50%;
}
div.r-image img {
  float: right;
  margin: 5px 0 20px 20px;
  border: 3px solid #f0f0f0;
  width: 50%;
  max-width: 50%;
}
.respond-form .alert {
  display: none;
}
.respond-form i.icon-spinner {
  display: none !important;
}
.respond-form label {
  font-weight: normal;
}
.respond-form .error label {
  font-weight: bold;
  color: #b94a48;
}
div.map-container {
  position: relative;
  margin: 0 0 20px 0;
  padding: 0;
  width: 100%;
  height: 250px;
  border: 1px solid #f0f0f0;
  overflow: hidden;
}
div.map p span {
  font-size: 1em;
}
@media (min-width: 768px) {
  header .logo {
    margin: 0 auto;
    max-width: 970px;
  }
}
@media (min-width: 992px) {
  header .logo {
    margin: 0 auto;
    max-width: 970px;
  }
}
@media (min-width: 1200px) {
  header .logo {
    margin: 0 auto;
    max-width: 1170px;
  }
}
.navbar-wrapper {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}
.navbar-wrapper .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper {
  margin-top: 20px;
}
.navbar-wrapper .container {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  border-radius: 4px;
}
