<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Measuring the CMB Polarization with POLARBEAR">
	<meta name="author" content="Thomas Tu">
	<link rel="shortcut icon" href="files/acquia_slate_logo.png">

	<title>POLARBEAR</title>

  <link href="css/carousel.css" rel="stylesheet">
    {{css-bootstrap-cerulean}}

</head>

<body>

<!--Menu-->
<div class="navbar-wrapper">
<div class="container">

	<div class="navbar navbar-inverse navbar-static-top" role="navigation">
	<div class="container">
		<!--Make the menu mobile friendly-->
		<center><div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		<span class="sr-only"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="{{site-url}}">POLARBEAR WITH THE HUAN TRAN TELESCOPE | Measuring Polarization of the CMB at the James Ax Observatory</a>
          </div></center>
	
	<div class="navbar-collapse collapse">
	<ul class="nav navbar-nav" style="width:90%; margin-left: 5%;">
		{{menu-primary}}
	</ul>
	</div>
	</div>
	</div>
</div>
</div>
  
  

<div class="panel panel-default" style="margin-left:7.5%; margin-right: 7.5%;">
<div class="panel-body">
	{{content}}
  {{rss}}
</div>
</div>
        
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/docs.min.js"></script>
</body>
</html>
